apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: monitoring
spec:
  selector:
    app: grafana
  type: NodePort  # Allows access via the EC2 Public IP
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000 # Access at http://<EC2-IP>:32000
